/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

body {
    background-image:url('../imgs/site-bg-short.png'); 
    background-repeat: repeat-x; 
    background-color: #fff; 
    font-family: Verdana;
    font-size: 14px;

}
.body-home {
    background-image:url('../imgs/site-bg.png'); 
    background-repeat: repeat-x; 
    background-color: #fff; 
    font-family: Verdana;
}

h1, h2, h3, h4, h5, h6 {line-height: 1.2em; margin-bottom: 0.3em;}
h1 {font-size: 40px; font-family: 'Muli Light'; color: #454545;}
h2 {font-family: 'Muli Light'; color: #248fdb; font-size: 24px;}
h3 {font-family: 'Muli Light'; color: #248fdb; font-size: 20px;}

.content {font-size: 16px; color: #888;}
.zone-postscript-wrapper {margin-top: 50px;}
.float-left {float: left; display: block;}
.float-right {float: right; display: block;}
.main-block-spacer {margin-top: 30px; border-top: 1px solid #888; padding-top: 60px;}
.main-block-noborder {margin-top: 30px; padding-top: 60px;}

/********Header********/
#edit-search-block-form--2 {
    width: 190px; 
    background: #fff; 
    border: 3px solid #fff; 
    height: 28px; 
    width: 240px; 
    margin-right: -3px;
}
.header-search {float: right; margin-top: -50px; margin-right: -5px;}
.branding-data {border-bottom: 1px #217fae solid;}

/***Home Navigation***/
#block-menu-menu-home-main-menu .menu { list-style:none;}
#block-menu-menu-home-main-menu .menu li { display:inline;}
#block-menu-menu-home-main-menu .menu li a {
    margin-left: 25px; /* Create padding on the left where the icon goes */
    text-decoration: none;
    color: #217fae;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
}
#block-menu-menu-home-main-menu .first a { 
    background:url("../imgs/home-btn.png") no-repeat transparent; 
    text-indent: -1999px; 
    height: 18px;
    width: 18px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -12px;
}
#block-menu-menu-home-main-menu a:link {color: #217fae;}
#block-menu-menu-home-main-menu a:hover {color: #217fae; background: #fff;}
#block-menu-menu-home-main-menu a:active {color: #217fae; background: #fff; }

#block-menu-menu-home-main-menu .first a:hover {
    background:url("../imgs/home-btn.png") no-repeat transparent; 
    text-indent: -1999px; 
    height: 18px;
    width: 18px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -12px;
}

/***Site Navigation***/
#block-system-main-menu .menu { list-style:none; float: left; margin-top: -60px;}
#block-system-main-menu .menu li { display:inline;}
#block-system-main-menu .menu li a {
    margin-left: 0px; /* Create padding on the left where the icon goes */
    text-decoration: none;
    color: #217fae;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
}
#block-system-main-menu .first a { 
    background:url("../imgs/home-btn.png") no-repeat transparent; 
    text-indent: -1999px; 
    height: 18px;
    width: 18px;
    overflow: hidden;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -12px;
}
#block-system-main-menu a:link {color: #217fae;}
#block-system-main-menu a:hover {color: #217fae; background: #fff;}
#block-system-main-menu a:active {color: #217fae; background: #fff; }

#block-system-main-menu .first a:hover {
    background:url("../imgs/home-btn.png") no-repeat transparent; 
    text-indent: -1999px; 
    height: 18px;
    width: 18px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -12px;
}




/*****Content Section*****/
.section-content {margin-top: 60px;}
.block-md-slider {margin-left: -10px;}

/******Homepage Styles*****/
.home-promo {float: left;}
.home-btns {float: right;}
.main-btn {margin-bottom: 4px;}

.home-squre-bullets1 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.home-squre-bullets1 ul li {
    background-image: url('../imgs/btns/square1.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 30px;
    margin-bottom: 20px;
} 
.home-squre-bullets2 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.home-squre-bullets2 ul li {
    background-image: url('../imgs/btns/square2.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 30px;
    margin-bottom: 20px;
} 
.home-squre-bullets3 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.home-squre-bullets3 ul li {
    background-image: url('../imgs/btns/square3.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 30px;
    margin-bottom: 20px;
} 

/******All About Books Block******/
.aab-container {margin-top: 50px;}
.aab-brief {color: #888888;}
.aab-main {margin-top: 15px; float: left; width: 308px; margin-right: 5px; }
.aab-main-final {margin-top: 15px; float: left; width: 313px; }
.aab-preschool-title {
    background-color: #44a3c6; 
    padding: 10px 0px 10px 15px; 
    font-size: 17px; 
    color: #fff;
    margin-bottom: 5px; 
}
.aab-elementary-title {
    background-color: #3ab4e1; 
    padding: 10px 0px 10px 15px; 
    font-size: 17px; 
    color: #fff; 
    margin-bottom: 5px; 
}
.aab-middle-title {
    background-color: #0b8cbb; 
    padding: 10px 0px 10px 15px; 
    font-size: 17px; 
    color: #fff;
    margin-bottom: 5px; 
}
.aab-browse {
    background-color: #0b8cbb; 
    color: #fff; 
    font-size: 14px; 
    padding: 30px; 
    margin: 0 auto;
}
.aab-btn {
    background: #fff; 
    padding: 5px 20px 5px 20px; 
    color: #0b8cbb; 
    width: 140px; 
    margin-left: 30px;
}

/*******Home Book Resources**********/
.home-book-resources {
    background-color: #0b82ae; 
    padding: 40px 50px 10px 50px; 
    margin-top: 4px; 
    font-size: 17px; 
    color: #fff;
}
.hbr-text {padding: 0px 200px 0px 200px;}
.hbr-text a{text-decoration: none; color: #3AB4E1;}
.hbr-text a:hover{text-decoration: none; color: #fff;}
.hbr-btns-container {margin-left: 140px; margin-top: 20px;} 
.hbr-btns {float: left; margin-right: 20px;}
.hbr-booktalks-btn {
    display: block;
    width: 161px;
    height: 103px;
    background: url('../imgs/btns/br-book-talks-btn.png') bottom;
    text-indent: -99999px;
}
.hbr-booktalks-btn:hover {
    background-position: 0 0;
}
.hbr-booktrailers-btn {
    display: block;
    width: 161px;
    height: 103px;
    background: url('../imgs/btns/br-book-trailers-btn.png') bottom;
    text-indent: -99999px;

}
.hbr-booktrailers-btn:hover {
    background-position: 0 0;
}.hbr-audiointros-btn {
    display: block;
    width: 161px;
    height: 103px;
    background: url('../imgs/btns/br-audio-intros-btn.png') bottom;
    text-indent: -99999px;

}
.hbr-audiointros-btn:hover {
    background-position: 0 0;
}.hbr-readingact-btn {
    display: block;
    width: 161px;
    height: 103px;
    background: url('../imgs/btns/br-reading-activites-btn.png') bottom;
    text-indent: -99999px;
}
.hbr-readingact-btn:hover {
    background-position: 0 0;
}

/*********Article Promos******/
.view-article-promo {margin-top: 120px;}
.view-article-promo ul {margin-top: 30px;}
.view-article-promo li {height: 200px; }
.view-article-promo .grid-6 {width: 460px !important;}
.view-article-promo a {text-decoration: none; color: #217FAE;}
.view-article-promo a:hover {color: #888;}


/*********Contact Look Up Homepage**********/
.contact-look-up-container {
    margin-top: 80px; 
    border: 1px solid #ededed; 
    width: 590px; 
    padding: 10px 0px 0px 30px;
}
.contact-look-up-title {margin-bottom: 20px; font-size: 12px;}
.contact-look-up-left {float: left; margin-right: 30px; font-size: 12px;}
.contact-look-up {
    background-color: #eff7fd; 
    padding: 30px; 
    height: 80px; 
    width: 240px;
    font-size: 12px;
}
.contact-look-up-right {float: left;  margin-left: 20px; font-size: 12px;}
.views-field-field-article-thumbnail img {float: left; margin-right: 20px;}



/*********FOOTER******************/
.section-footer {
    background: none repeat scroll 0 0 #cde0e7;
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 30px;
    height: 100px;
    min-width: 960px;
    height: 100%;
}

/*****Footer Twiter Feed*******/
.view-tweets .item-list ul li {margin-left: 0px !important;}
.view-tweets .item-list li {margin-top: 30px !important;}
.view-tweets {margin-top: 30px;}
.view-tweets {padding-right: 10px;}
.view-tweets img{float: left; margin-right: 20px;}


/******Header Tools Menu********/

/*******Books Page*******/
.books-block {
        padding-top: 70px;
        padding-bottom: 70px;

        border-top: 1px solid #444; 
        color: #888; 
        font-size: 18px;
}
.books-block-bottom {
    padding-bottom: 50px; 
    border-bottom: 1px solid #444; 
    margin-bottom: 60px;
}
.blue-btn {
    padding: 10px; 
    text-align: center; 
    color: #fff; 
    font-size: 12px; background-color: #1588d9; max-width: 200px; margin-top: 30px;}
.blue-btn a{color: #fff; text-decoration: none;}
/*******Author Bio Block********/
.author-bio-block {margin-top: 25px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd; height: 60px;}
.author-bio-block img{float: left; margin-right: 15px; }
.author-bio-name {font-weight: bold; float: left; font-size: 14px; color: #444;}
.author-bio-screen-name {color: #888; float: left; margin-left: 20px; font-size: 14px;}
.author-bio-names {padding-top: 10px;}
.author-bio-names:after { clear:both;}
.bio-twit-icon img{margin-top: 5px; margin-right: 2px;}

/*******Article Social Footer*****/
.social-share {background: #eee;}
a.social-share-facebook {
   display: block;
   height: 40px;
   width: 27px;
   background-image: url('../imgs/btns/article-social-facebook.gif');
   text-indent: -9999px;
   overflow: hidden;
   float: left;
   margin-left: 15px;
}
a.social-share-twitter {
   display: block;
   height: 40px;
   width: 35px;
   background-image: url('../imgs/btns/article-social-twitter.gif');
   text-indent: -9999px;
   overflow: hidden;
   float: left;
   margin-left: 30px;
}
.node-links  ul a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    border-style: solid !important;
    border-width: 0px !important;
    color: #333333;
    margin: 0 !important;
    outline: 0 none;
    overflow: visible;
    padding: 4px 10px 3px;
    vertical-align: middle;
    width: 20px !important;
    margin-left: 210px !important;

}

/******Print and Email footer buttons*****/
li.print_html a{
    display: block;
    background-image: url('../imgs/btns/article-print.gif') !important;
    text-indent: -9999px !important;
    overflow: hidden !important;
    padding: 10px !important;
    margin-top: -40px !important;
}
li.print_mail a{
    display: block;
    background-image: url('../imgs/btns/article-social-email.gif') !important;
    text-indent: -9999px !important;
    overflow: hidden !important;
    padding: 10px !important;
    margin-top: -40px !important;
    margin-left: 140px !important;
}

.field-name-field-tags {
    margin-left: 280px;
    margin-top: -30px;
    font-size: 12px;
    text-align: right;

}


/******Video Page Tabbed****/

.ui-tabs-nav {margin-left: 300px !important;}
.ui-tabs .ui-tabs-panel {border-top: 1px solid #888 !important; margin-top: 10px !important;}
.ui-widget-header {
    background: url("") repeat-x scroll 50% 50% #fff!important;
    border: 0px solid #AAAAAA;
    color: #222222;
    font-weight: 700;
    border: 0px;
}
.ui-widget-content {
    border: 0 !important;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}
.ui-tabs-panel {
    padding-left: 0 !important; 
    padding-right: 0 !important;
}
.ui-widget-content .ui-state-active {
    background-color: #cde0e7 !important;
    background-image: url('') !important;
    border: 0px solid #AAAAAA !important;
    color: #212121;
    font-weight: 400;
}
.ui-state-default {
    background-color: #fff !important;
    background-image: url('') !important;
    border: 0px solid #D3D3D3 !important;
    color: #555555;
    font-weight: 400;
}
/*****Videos Tabbed Content ****/
.view-videos .views-row {height: 170px; margin-bottom: 30px; border-bottom: 1px solid #888;padding-bottom: 30px;}
.view-videos .views-row-last {height: 170px; margin-bottom: 30px; border-bottom: 1px solid #888;padding-bottom: 30px;}
.view-videos .views-row a{text-decoration: none; color: #248fdb; }
.view-videos .views-field-title {float: left; width: 400px;}
.view-videos .views-field-body {width: 400px; float: left;}

.views-field-field-video-thumbnail {float: left; margin-right: 20px;}
.views-field-field-video-rel-audio {float: right; margin-top: -40px; width: 130px;}
.views-field-field-video-rel-pdf {float: right; width: 130px;}

/*****Podcasts Tabbed Content ****/
.view-podcasts .views-row {height: 170px; margin-bottom: 30px; border-bottom: 1px solid #888;padding-bottom: 30px;}
.view-podcasts .views-row-last {height: 170px; margin-bottom: 30px; border-bottom: 1px solid #888;padding-bottom: 30px;}
.view-podcasts .views-field-body {width: 400px; float: left;}
.view-podcasts .views-row a{text-decoration: none; color: #248fdb; }
.views-field-field-podcast-thumbnail {float: left; margin-right: 20px;}
.views-field-field-audio-rel-pdf {float: right; margin-top: -40px; width: 130px;}
.views-field-field-audio-rel-video {float: right; width: 130px;}

/*****Podcasts Tabbed Content ****/
.view-documents .views-row {height: 170px; margin-bottom: 30px; border-bottom: 1px solid #888;padding-bottom: 30px;}
.view-documents .views-row-last {height: 170px; margin-bottom: 30px; border-bottom: 1px solid #888;padding-bottom: 30px;}
.view-documents .views-field-body {width: 400px; float: left;}
.view-documents .views-row a{text-decoration: none; color: #248fdb; }
.views-field-field-pdf-thumbnail {float: left; margin-right: 20px;}
.views-field-field-doc-rel-video {float: right; margin-top: -40px; width: 130px;}
.views-field-field-doc-rel-audio {float: right; width: 130px;}

/*****Podcast****/
div.jp-playlist {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: transparent;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    width: 100%;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
    visibility: hidden;
}

/*****Families Page****/
.fam-home-bullets-container {width: 280px; float: left;}
.fam-home-bullets {margin-top: 20px; border-bottom: 1px solid #ccc;}
.fam-left-app {margin-top: 10px;}
.fam-title {margin-bottom: 20px;}
.fam-added-container {margin-top: 40px;}
.fam-green-box {padding: 30px; background: #70be54;  float: left; margin-right: 5px; width: 445px; height: 155px; color: #fff;}
.fam-added {float: left; }
.fam-added-learn-btn {padding: 5px 0px 5px 10px; background: #fff; color: #70be54; width: 135px; border: 1px solid #43852b;}

.fam-squre-bullets1 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.fam-squre-bullets1 ul li {
    background-image: url('../imgs/btns/square-white.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 30px;
    margin-bottom: 10px;
} 
.fam-squre-bullets2 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.fam-squre-bullets2 ul li {
    background-image: url('../imgs/btns/square-white.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 30px;
    margin-bottom: 10px;
} 
.fam-squre-bullets3 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.fam-squre-bullets3 ul li {
    background-image: url('../imgs/btns/square-white.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 30px;
    margin-bottom: 30px;
} 
.fam-get-involved-container {margin-top: 40px; border-bottom: 1px solid #888; padding-bottom: 40px; }
.fam-get-involved-items {height: 180px;}
.fam-get-invovled-img {float: left; width: 300px; height: 147px; margin-right: 20px;}



/*****Article Gallery****/
.view-article-gallery .views-row {height: 200px; margin-bottom: 90px;}
.view-article-gallery h2 a{text-decoration: none; color: #454545;}
.view-article-gallery a:link {}
.view-article-gallery a:hover {}
.view-article-gallery a:active {}



















